# Application
PORT=4004
NODE_ENV=development

# Auth
USER_SERVICE_BASE_URL=http://localhost:4001
AUTH_REQUEST_TIMEOUT_MS=5000
JWT_ORDER_PUBLIC_KEY_PEM_B64=LS0tLS1CRUdJTiBQVUJMSUMgS0VZLS0tLS0NCk1JSUJJakFOQmdrcWhraUc5dzBCQVFFRkFBT0NBUThBTUlJQkNnS0NBUUVBMCs4SnZCTkFmZGNKR1U4dWVyR1UNCndnQjh4ckkwSkhoNU1OemM4dkxiMDE2UENWWkp6Q0wyVDlKSUhtakNHZEtJMDh3VlJqb09lczdESGozUXhzSEMNCmp5SW9QcTN3Mi9CMmI1Qy9NVjJGQ0lSSk5wMXlvL3NxMWZoTFlFdzcvUmsxNjlnSGdieFg5clNzSVBDTk1TSngNCm1RdnJWbzRIb3dTeUE0U1hvUmlIT1hxdngwWDBHU0w3OXMwWHVQaFc1TjVYR3FJL0wxWEFYc3NKMlNNb2hTYXYNCkd1K3R2M1pCMzNMQ1hDN1ZCaHpFSjgrMW1uN2RHWmdWOFlXbHpBVXlDV2haZHlRZ1RGTEpWNU5tVzZNSjBDSmYNCnlCcDgrenhzREJtSHYyTjlQaFQyQ1BmcG9reUtURmxKK1VQWW5LRHpBV1RPT1NWQ1JsQkFUVW1BOFFIdFpjL1cNCnp3SURBUUFCDQotLS0tLUVORCBQVUJMSUMgS0VZLS0tLS0NCg==
AUTH_ALLOW_TEST_HEADERS=false

# Order
ORDER_DEFAULT_CURRENCY=VND
CART_SUBGRAPH_BASE_URL=http://localhost:4003
PRODUCT_SUBGRAPH_BASE_URL=http://localhost:4002
INVENTORY_SERVICE_BASE_URL=http://localhost:4010

# Future persistence / messaging
ORDER_DATABASE_URL=postgresql://ecommerce:ecommerce@localhost:5432/order
RABBITMQ_URL=amqp://guest:guest@localhost:5672
OUTBOX_WORKER_ENABLED=true
OUTBOX_WORKER_INTERVAL_MS=1000
OUTBOX_WORKER_BATCH_SIZE=20
