# dependencies
node_modules/
.pnpm-store/

# build outputs
/dist/
/build/
/.next/
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# env
.env
.env.*
!.env.example

# editor/ide
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
