# dependencies
node_modules/
.pnpm-store/
/.pnp
.pnp.*
/.yarn/*
!/.yarn/patches
!/.yarn/plugins
!/.yarn/releases
!/.yarn/versions

# build outputs
dist/
build/
.next/
out/
coverage/

# logs
*.log
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# vercel
.vercel/

# env
.env
.env.*
!.env.example

# typescript
*.tsbuildinfo

# key
*.pem
*.key

# editor/ide
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db
