PORT=4020
NODE_ENV=development
ORDER_SUBGRAPH_BASE_URL=http://localhost:4004
RABBITMQ_URL=amqps://scgxxlpv:[YOUR_RABBITMQ_PASSWORD]@armadillo.rmq.cloudamqp.com/scgxxlpv
RABBITMQ_EXCHANGE=order.integration
PAYMENT_AUTHORIZATION_QUEUE=payment.authorization.requested.q
