PORT=4010
NODE_ENV=development
ORDER_SUBGRAPH_BASE_URL=http://localhost:4004
RABBITMQ_URL=amqp://rabbit:rabbit@localhost:5672
RABBITMQ_EXCHANGE=order.integration
INVENTORY_RESERVATION_QUEUE=inventory.reservation.requested.q
